<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/vue.js"> </script>
    <style>
        .competence-high{
            color: green;
        }
        
        .competence-low{
            color: red;
        }
    </style>
</head>
<body>
    <div id="app" class="d-flex flex-wrap" style="justify-content:center;" 
         :style="divStyle">         
        <div class="input-group mb-3 sticky-top">
            <input v-model="searchText" type="text" class="form-control" placeholder="Nazwa kompetencji" @keyup.enter="search">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="button">Szukaj</button>
            </div>
        </div>
        <div class="card" style="width: 12rem; cursor: pointer;" v-for="competence in filteredCompetencies" v-if="competence.Level > 0" @dblclick="removeCompetence(competence)"> 
            <h5 class="card-title text-center text-uppercase">{{competence.Name}}</h5>
            <img class="card-img-top" :src="'assets/' + competence.Picture">
            <div class="card-body">
                <p class="card-text font-weight-bold"
                    v-bind:class="{'competence-low': competence.Level < 2, 'competence-high': competence.Level > 3}">
                    Poziom: {{competence.Level}}
                </p>
                <p class="card-text" v-if="competence.Description">Opis: {{competence.Description}}</p>
            </div>
        </div>
    </div>

    <script>   

    var app = new Vue({
        el: '#app',
        data: {
           searchText: "", 
           divStyle:{
             "background-color": "rgb(158, 170, 156)"
           },
           competencies: [
                { Id: 1, Name: "Bootstrap", Level: 4, Picture: "bootstrap.svg", Description: "Wersja 3" },
                { Id: 2, Name: "AngularJS", Level: 3, Picture: "angularjs.png", Description: "" },
                { Id: 3, Name: "Angular", Level: 4, Picture: "angular.png", Description: "" },
                { Id: 4, Name: "Ionic", Level: 4, Picture: "ionic.png", Description: "Wersja 2" },
                { Id: 5, Name: "PhoneGap", Level: 1, Picture: "phonegap.png", Description: "Tylko absolutne podstawy" },
                { Id: 6, Name: "ReactJS", Level: 1, Picture: "react.png", Description: "Tylko absolutne podstawy" },
                { Id: 7, Name: "Xamarin", Level: 0, Picture: "xamarin.png", Description: "Bez API dla IOS" },
                { Id: 8, Name: "HTML5", Level: 5, Picture: "html5.png", Description: "Bez WebSockets i Database API" },
                { Id: 9, Name: "CSS3", Level: 4, Picture: "css3.png", Description: "" },
                { Id: 10, Name: "WebAPI", Level: 5, Picture: "webapi.png", Description: "" }
           ]
        },
        created: function(){},
        computed:{
            filteredCompetencies: function(){
                var competencies = this.competencies;
                var searchText = this.searchText;
                return competencies.filter( competence => {
                    return competence.Name.toLowerCase().includes(searchText.toLowerCase());
                }); //slajd 53
            },
        },
        methods: {
            removeCompetence: function(competence){
                for(var i = 0; i < this.competencies.length; i++) {
                    if(this.competencies[i].Id == competence.Id){ //znaleziona kompetencja
                       this.competencies.splice(i, 1);
                       break;  
                    }                 
                }  
            },
            search: function(){
                alert(this.searchText);                   
            }
        }
    });
    </script>
</body>
</html>