<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="js/vue.js"> </script>
    <script src="config.js"> </script>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row justify-content-center align-items-center" style="height:100vh">
                <div class="col-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <p>Email</p>
                                <input type="text" class="form-control" name="username" v-model="loginData.username">
                            </div>
                            <div class="form-group">
                                <p>Hasło</p>
                                <input type="password" class="form-control" name="password"
                                    v-model="loginData.password">
                            </div>
                            <button type="button" id="sendlogin" class="btn btn-primary" v-on:click="login">Zaloguj</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        var app = new Vue({
            el: '#app',
            data: {
                loginData: {
                    username: "admin@gmail.com",
                    password: "123456",
                    grant_type: "password"
                },
            },
            created: function () {
            },
            methods: {
                login: function () {
                    var self = this;

                    $.ajax({
                        url: backend + "/TOKEN",
                        type: "POST",
                        data: self.loginData,
                        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                        timeout: 5000


                    }).done(function (res) {
                        sessionStorage.setItem("tokenKey", res.access_token);
                        console.log(res);
                    }).fail(function () {
                        alert("Wystąpił błąd w połączeniu");
                    })
                }
            }
        });
    </script>
</body>

</html>