<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Edycja Testu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="js/vue.js"> </script>
    <script src="config.js"> </script>
    <script src="js/menuBar.js"></script>
</head>

<body>
    <div id="app">
        <div class="container">

            <menu-bar></menu-bar>

            <div class="jumbotron jumbotron-fluid">
                <div class="container">

                    <p>
                        <h2>Testu nr: {{testId}}</h3>
                    </p>
                    <p>
                        <h2>Nazwa Testu: {{testName}}</h3>
                    </p>
                    <p>
                        <h3>Autor Testu: {{testAuthor}}</h2>
                    </p>
                    <p>
                        <h3>Opis: {{testDescription}}</h2>
                    </p>
                    <p>
                        <h3>Ilość Pytań: {{testPoints}}</h3>
                    </p>

                    <p>
                        <div v-if="completed"><h3>Twój wynik: <span v-bind:style="{color: resultColor}">{{yourResult}}</span></h3></div>
                        <div v-else>
                            <h3>Jeszcze nie wypełniałeś tego testu.</h3>
                            
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                            v-on:click="exam()">Wykonaj Test</button>
                        </div>
                    </p>

                    <div v-if="isYour">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                            v-on:click="editTest()">Edytuj Test</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        var app = new Vue({
            el: '#app',
            components: {
                'menu-bar': menuBar,
            },
            computed: {
                completed: function(){
                    if(this.yourResult == -1)
                        return false;
                    return true;
                },
                resultColor: function(){
                    var res = this.yourResult / this.testPoints;
                    if (res < 0.3)
                        return "red";
                    if (res < 0.5)
                        return "orange";
                    if (res < 0.8)
                        return "green";
                    if (res == 1)
                        return "purple";
                    return "blue";
                }
            },
            data: {
                testId: 1,
                testName: '',
                testDescription: '',
                testAuthor: "",
                questionsNumber: 0,
                testPoints: 0,
                yourResult: 0,
                isYour: false
            },
            created: function () {
                var self = this;
                self.testId = self.getQueryVariable("id")
                $.ajax({
                    type: "GET",
                    url: backend + "/api/tests/Get/" + self.testId,
                    headers: {
                        'Authorization': `Bearer ${sessionStorage.getItem("tokenKey")}`,
                        'Access-Control-Allow-Origin': '*'
                    },
                    timeout: 5000,


                }).done(function (result) {
                    self.testName = result.Name;
                    self.testDescription = result.Description;
                    self.testAuthor = result.Author;
                    self.questionsNumber = result.Questions;
                    self.testPoints = result.Points;
                    self.yourResult = result.Result;
                    self.isYour = result.IsYour;
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    window.location.replace("TestList.html");
                })
            },
            methods: {
                getQueryVariable: function (variable) {
                    var query = window.location.search.substring(1);
                    var vars = query.split("&");
                    for (var i = 0; i < vars.length; i++) {
                        var pair = vars[i].split("=");
                        if (pair[0] == variable) { return pair[1]; }
                    }
                    return (false);
                },
                exam: function(){
                        window.location.replace("examin.html?id="+this.testId);
                },
                editTest: function(){
                        window.location.replace("editTest.html?id="+this.testId);

                }
            }
        });
    </script>
</body>

</html>